:root {
/* Colors - Primary */
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);

/* Colors - Neutral */
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);

/*Box-shadow*/
--box-shadow:rgba(0, 0, 0, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  min-height: 100vh;
  padding: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.new-articles{
  background-color: var(--very-dark-blue);
}

.new-item{
  padding: 20px;
  border-bottom: 1px solid var(--dark-grayish-blue);
}
.new-item:last-child{
  border-bottom: none;
}

.new-item > p{
  color: var(--grayish-blue);
}
.new-item>h3{
  color: var(--off-white);
}

.new-articles>h2{
  color: var(--soft-orange);
  padding: 20px 20px 0 20px;
}

.site-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding: 20px 0 40px 0;
}
.menu {
  position: fixed;
  top: 80px;
  right: 0;
  display: none; 
}
.menu-humburger, .menu-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-close {
  display: none;
  }

.menu.open {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 70%;             
  height: 100vh;
  background-color: var(--off-white);
  z-index: 100;           
  padding: 170px 30px;    
  box-shadow: 0 0 0 100vmax var(--box-shadow); 
}

.menu-close.open {
  display: block;
  position: fixed;
  z-index: 101; 
  top: 45px;
  right: 25px;
 }

.open ul {
  display: flex;
  flex-direction: column; 
  gap: 30px;              
  list-style: none;
  font-size: 17px;
  font-weight: 400;
}
