:root {
/* Colors - Primary */
--soft-orange: hsl(35, 77%, 62%);
--soft-red: hsl(5, 85%, 63%);

/* Colors - Neutral */
--off-white: hsl(36, 100%, 99%);
--grayish-blue: hsl(233, 8%, 79%);
--dark-grayish-blue: hsl(236, 13%, 42%);
--very-dark-blue: hsl(240, 100%, 5%);
--attribution-link: hsl(228, 45%, 44%);

/*Box-shadow*/
--box-shadow:hsl(0 0% 0% / 0.5);
}
@media (prefers-reduced-motion: reduce) {
  *, *::before, *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 0.0625rem;
  height: 0.0625rem;
  padding: 0;
  margin: -0.0625rem;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
  border: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.875rem, 0.2vw + 0.85rem, 0.9375rem);
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  min-height: 100vh;
  padding: 0.9375rem;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.new-articles{
  background-color: var(--very-dark-blue);
}

.new-item{
  padding-block-end: 1.875rem;
  border-block-end: 0.0625rem solid var(--dark-grayish-blue);
  margin: 1.25rem;
}

.new-item:last-child{
  border-block-end: none;
  padding-block-end: 0.3125rem;
}

.new-description{
  color: var(--grayish-blue);
  line-height: 1.7;
}

.new-title{
  color: var(--off-white);
  line-height: 1.5;
  font-size: 1.25rem;
}

.new-title a {
  transition: color 0.2s ease;
}

.new-title a:hover, .new-title a:focus-visible{   
color: var(--soft-orange);        
} 

.new-item-header{
  color: var(--soft-orange);
  padding-block-start: 1.25rem;
  padding-inline: 1.25rem;
  line-height: 1.7;
 font-size: 2rem;
}

.site-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;            
  padding-block-start: 1.25rem;
  padding-block-end: 2.5rem;
}

.logo{
  width: 2.8125rem;
  height: auto;
}

.menu {
  position: absolute;
  inset-block-start: 5rem;
  inset-inline-end: 0;
  display: none; 
}
.menu-hamburger, .menu-close {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.menu-close {
  display: none;
  }

.menu.open {
  display: block;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  width: 70%;             
  min-height: 100%;
  background-color: var(--off-white);
  z-index: 100;           
  padding-block: 10.625rem;
  padding-inline: 1.875rem; 
  box-shadow: 0 0 0 100vmax var(--box-shadow); 
}

.menu-close.open {
  display: block;
  position: absolute;
  z-index: 101; 
  inset-block-start: 2.8125rem;
  inset-inline-end: 1.5625rem;
 }

.menu ul {
  display: flex;
  flex-direction: column; 
  gap: 1.875rem;            
  list-style: none;
  font-size: 1.0625rem;
  font-weight: 400;
}

.homepage-grid {
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  margin-block-end: 3.75rem;
}

.main-article {
  display: flex;
  flex-direction: column;
  gap: 1.5625rem;
}

.main-article-title {
  font-size: clamp(2.375rem, 5vw + 1rem, 3.5rem);
  font-weight: 800;
  line-height: 1;
  margin-block-end: 0.9375rem;
}

.main-article-description {
  color: var(--dark-grayish-blue);
  line-height: 1.6;
  margin-block-end: 1.5625rem;
}


.btn-primary {
  display: inline-block;
  background-color: var(--soft-red);
  color: var(--very-dark-blue);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1875rem;
  font-size: 0.8125rem;
  padding-block: 0.9375rem;
  padding-inline: 1.875rem; 
  transition: background-color 0.2s ease;
}
.btn-primary:hover{
  color:var(--off-white);
  background-color: var(--very-dark-blue);
}
.top-stories {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.story-card {
  display: flex;
  gap: 1.5625rem;
}

.story-card img {
  width: 6.25rem;
  height: 8.125rem;
  object-fit: cover;
}

.story-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.story-number {
  font-size: 2rem;
  font-weight: 700;
  color: var(--soft-red);
  line-height: 1;
}

.story-title {
  font-size: 1.0625rem;
  font-weight: 800;
  cursor: pointer;
  transition: color 0.2s ease;
}

.story-title:hover{
color: var(--soft-red);
}

.story-description {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.8;
}


.attribution { 
  font-size: 0.6875rem; 
  text-align: center; 
  padding-block-end: 0.3125rem;
}

.attribution a { 
  color: var(--attribution-link);
}


@media (min-width: 64rem) {

  body {
    padding-block: 5rem;      
    width: min(100%, 69.375rem);      
    margin-inline: auto;           
  }
  
  .logo {
    width: 4rem;
  }
  .menu-hamburger, .menu-close, .menu-close.open {
    display: none;
  }


  .menu {
    display: block;
    position: static; 
    height: auto;
    width: auto;
    padding: 0;
  }


  .menu ul {
    flex-direction: row;
    gap: 2.5rem;
  }

  .menu a {
    font-size: 0.9375rem;
    color: var(--dark-grayish-blue);
    transition: color 0.2s ease;
  }
 
  .menu a:hover {
    color: var(--soft-red);
  }

  .homepage-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 4.375rem 1.875rem;
  }

  .main-article {
    grid-column: span 2; 
  }

  .new-item-header  {
    font-size: 2.5rem;
  }

  .new-item{
    padding-block-start: 0.625rem;
    padding-block-end: 1.875rem;
  }

  .new-item:last-child{
  padding-block-start: 0.625rem;
  }

  .btn-primary {
  font-size: 0.875rem;
  }
  .top-stories {
    grid-column: span 3;
    flex-direction: row; 
    gap: 1.875rem;
  }

  .story-card {
    flex: 1;
  }

  .main-article-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.875rem;
    align-items: stretch;
    margin-block-start: 0.9375rem;
  }

   .main-article-title {
    margin: 0;
    line-height: 1.05;
  }
  
 .main-article-description{
  font-size: 1rem;
 }
}